.page-title {
  margin: 16px 0px 0px 0px;
}

.tool-card {
    margin-top: 16px;
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.tag {
    font-weight: bold;
}

.x{
    font-weight: bold;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}